@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --lose-color: #dc3545;
  --win-color: #28a745;
  --modal-duration: 1s;
}

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: black;
    color: white
}

.container{
    max-width: 500px;
    margin:auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-btn{
    display:"inline-block";
    
background: linear-gradient(-45deg, #ee3131, #ff4e4e, #40a8fd, #0099ff);
    color: rgb(0, 0, 0);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 2rem;
    margin-top: 5rem;
    border-radius: 10px;
}

.restart-btn:hover{
    background-color: rgb(4, 141, 233);
    color: #f4f4f4;
}

.header{
    text-align: center;
    margin: 1rem 0;
}

.header h1 {
    margin-bottom: 1rem;
}

.score {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #fff;
    
}

.score p:first-child{
    background:  rgb(4, 141, 233);
    padding-top: 19px;
    padding-bottom: 19px; 
    border-radius: 15px; 
}

.score p:last-child{
    background: rgba(255, 0, 0, 0.678);
    padding-top: 19px;
    padding-bottom: 19px; 
   border-radius: 15px;    
}

.choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:2rem;
    margin-top: 3rem;
    text-align: center;
}

.choice {
    cursor: pointer;
}

.choice:hover {
    color:var(--primary-color)
}

.text-win {
  color: var(--win-color);
}

.text-lose {
  color: var(--lose-color);
}



@media (max-width: 700px) {
  .choice {
    font-size: 110px;
  }
}

@media (max-width: 500px) {
  .choice {
    font-size: 80px;
  }
}